.map {
    border: 0;
    height: 60vh;
    width: 100%;
}

.chart-wrapper {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.chart-wrapper > h5 {
    text-align: center;
}

.chart-wrapper > .chart-container {
    position: relative;
    width: 100%;
}

.listing-item {
    display: flex;
}

.listing-thumbnail img {
    display: block;
}

.listing-summary {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.listing-price {
    padding-left: 20px;
    padding-right: 20px;
}
