nav, .navbar-fixed, .nav-wrapper i {
    height: 56px !important;
    line-height: 56px !important;
}

.nav-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
}

.input-field input[type=text]:focus + label {
    color: #2196f3 !important;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #2196f3 !important;
}

#content {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
