{% extends "layout.html" %}


{% block head %}
    {{ super() }}

    <link rel="stylesheet" href="/css/data.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"
            integrity="sha256-c0m8xzX5oOBawsnLVpHnU2ieISOvxi584aNElFl2W6M=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/chartCreationHelpers.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            Chart.defaults.global.defaultFontFamily = "'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif"
            Chart.defaults.global.defaultFontColor = "black";
            Chart.defaults.global.defaultColor = "rgba(33, 150, 243, 0.5)";
            create_listing_avgs_chart("listing_avgs_chart", {{ listing_avgs | tojson }});
            create_listings_per_neighborhood_chart("listings_per_neighborhood_chart", {{ listings_per_neighborhood | tojson }});
            create_price_distribution_chart("price_distribution_chart", {{ price_distribution | tojson }});
            create_price_vs_neighborhood_chart("price_vs_neighborhood_chart", {{ price_per_neighborhood | tojson }});
        });
    </script>
{% endblock %}


{% block content %}
    {{ super() }}

    <h4>{{ formatted_address }}</h4>
    <iframe class="map"
            src="https://www.google.com/maps/embed/v1/place?q=place_id:{{ place_id }}&key={{ gmaps_api_key }}"
            allowfullscreen></iframe>

    <div class="card-panel z-depth-2">
        <h4>Hostery SmartMetrics for {{ formatted_neighborhood }}</h4>
        <p><strong>Estimated weekly average income per hostee:</strong>&ensp;{{ weekly_avg_income | format_money }}</p>
        <p><strong>Optimal nightly price:</strong>&ensp;{{ max_bookings_price | format_money }}</p>
        <p><strong>Neighborhood average price:</strong>&ensp;{{ neighborhood_avg_price | format_money }}</p>
    </div>

    <div class="card-panel z-depth-2">
        <h4>Hostery SmartCharts for {{ formatted_neighborhood }}</h4>
        <div class="row">
            <div class="chart-wrapper col s12 m6">
                <h5>Neighborhood Listing Averages</h5>
                <div class="chart-container"><canvas id="listing_avgs_chart"></canvas></div>
            </div>
            <div class="chart-wrapper col s12 m6">
                <h5>Listings per Neighborhood</h5>
                <div class="chart-container"><canvas id="listings_per_neighborhood_chart"></canvas></div>
            </div>
            <div class="chart-wrapper col s12">
                <h5>Neighborhood Listing Price Distribution</h5>
                <div class="chart-container"><canvas id="price_distribution_chart"></canvas></div>
            </div>
            <div class="chart-wrapper col s12">
                <h5>Average Nightly Prices per Neighborhood</h5>
                <div class="chart-container"><canvas id="price_vs_neighborhood_chart"></canvas></div>
            </div>
        </div>
    </div>
{% endblock %}
