{% extends "layout.html" %}


{% block content %}
    {{ super() }}

    <div class="section">
        <h3>How to use Hostery SmartCharts</h3>
        <p>
            We do quite a bit of number crunching to generate interactive Hostery SmartCharts, just for you! Whether
            you're only looking to list part of your own home, or if you're looking to invest in other properties,
            Hostery SmartCharts provide invaluable information for you to maximize your Airbnb returns. There are four
            types of Hostery SmartCharts, and we briefly describe each one below.
        </p>
    </div>
    <div class="section">
        <h4>Neighborhood Listing Averages</h4>
        <p>
            The Listing Averages chart shows the average number of hostee accomadations, bathrooms, bedrooms, beds, and
            guests included in each listing. This data is calculated for the neighborhood of your provided coordinates,
            so you can see how your potential listing will compare to other listings in the neighborhood. This chart, in
            addition to the Neighborhood Listing Price Distribution chart, will help you decide how to price your
            listing.
        </p>
    </div>
    <div class="section">
        <h4>Listings per Neighborhood</h4>
        <p>
            The Listings per Neighborhood chart shows how the number of listings in your neighborhood compares to the
            most popular neighborhoods. This gives you a sense of how much competition you will have and how difficult
            it will be to get a hostee.
        </p>
    </div>
    <div class="section">
        <h4>Neighborhood Listing Price Distribution</h4>
        <p>
            The Neighborhood Listing Price Distribution chart shows the distribution of nightly prices within your
            neighborhood. This will help you decide how to price your listing, whether your listing is relatively
            average, low-end, or high-end within your neighborhood.
        </p>
    </div>
    <div class="section">
        <h4>Average Nightly Prices per Neighborhood</h4>
        <p>
            The Average Nightly Prices per Neighborhood chart shows how the average nightly price in your neighborhood
            compares to the most popular neighborhoods. This is especially useful for hosts looking to invest in new
            properties. For example, it may not make sense to list properties in neighborhoods where the average nightly
            price is very low.
        </p>
    </div>
{% endblock %}
