<!DOCTYPE html>

<html lang="en">
    <head>
        {% block head %}
        <title>Host | Optimize Your Airbnb Income</title>

        <!-- CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" integrity="sha256-e22BQKCF7bb/h/4MFJ1a4lTRR2OuAe8Hxa/3tgU5Taw=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="/css/layout.css" />

        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
        <meta name="theme-color" content="#2196f3">

        <!-- Scripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js" integrity="sha256-uWtSXRErwH9kdJTIr1swfHFJn/d/WQ6s72gELOHXQGM=" crossorigin="anonymous"></script>

        {% endblock %}
    </head>

    <body>
        <!-- Navbar -->
        <div class="navbar-fixed">
            <nav class="blue">
                <div class="nav-wrapper">
                    {% block nav %}
                    <a class="brand-logo" href="/"><i class="material-icons">home</i>Host</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/data"><i class="material-icons">insert_chart</i></a></li>
                    </ul>
                    {% endblock %}
                </div>
            </nav>
        </div>

        <!-- Content -->
        <div id="content" class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
